<section class="aspect-ratio p-0" style="padding-bottom: 400px;">
	<img alt="An image of a building" class="aspect-ratio-item aspect-ratio-item-flush aspect-ratio-item-right-middle" data-lfr-editable-id="uswds-landing-page-image" data-lfr-editable-type="image" src="[resources:caleb-fisher-TI49JPnDPMs-unsplash.jpg]" />

	<div class="container-fluid container-fluid-max-xl position-relative px-5 py-6">
		<div class="bg-primary-d2 p-4 text-white" style="max-width: 20rem;">
			<h2 class="text-8">
				Finally Assert:
				<div class="text-info">Int throws throw catch assert goto</div>
			</h2>

			<p>
				Abstract assert boolean break byte case catch char return throws instanceof, import default public try if continue protected int while.
			</p>

			<a class="btn btn-primary" href="#1">Enum Case</a>
		</div>
	</div>
</section>

<section>
	<div class="container-fluid container-fluid-max-xl px-5 py-6">
		<div class="row">
			<div class="col-md-4">
				<h3 class="text-8">For class byte enum import transient new super this</h3>
			</div>

			<div class="col-md-8">
				<p>
					If instanceof byte throw private do else while, throws break char implements. Assert int enum this private class break import public if implements, catch throw try double final char synchronized short volatile.
				</p>

				<p>
					While float short else enum boolean static import, throws char private finally volatile synchronized continue, catch int public byte assert throw extends. Break synchronized implements finally case import boolean try short, float this private goto protected throw char.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-primary-d2 text-white">
	<div class="container-fluid container-fluid-max-xl px-5 py-6">
		<div class="card-page card-page-equal-height">
			<div class="card-page-item col-md-6 mb-6">
				<div class="autofit-row">
					<div class="autofit-col">
						<span class="mr-3 sticker sticker-circle sticker-primary sticker-xxl">
							[@clay["icon"] symbol="cookie" className="cookie"/]
						</span>
					</div>

					<div class="autofit-col autofit-col-expand">
						<h3 class="text-5 text-info">Extends interface public int</h3>

						<p>
							Strictfp enum switch catch new abstract transient class default return, public this case while short static package do final, volatile private void finally extends instanceof native byte.
						</p>
					</div>
				</div>
			</div>

			<div class="card-page-item col-md-6 mb-6">
				<div class="autofit-row">
					<div class="autofit-col">
						<span class="mr-3 sticker sticker-circle sticker-primary sticker-xxl">
							[@clay["icon"] symbol="cookie" className="cookie"/]
						</span>
					</div>

					<div class="autofit-col autofit-col-expand">
						<h3 class="text-5 text-info">Volatile case final assert native static</h3>

						<p>
							Double new throws implements void break this finally, long package final interface abstract else.
						</p>
					</div>
				</div>
			</div>

			<div class="card-page-item col-md-6 mb-6">
				<div class="autofit-row">
					<div class="autofit-col">
						<span class="mr-3 sticker sticker-circle sticker-primary sticker-xxl">
							[@clay["icon"] symbol="cookie" className="cookie"/]
						</span>
					</div>

					<div class="autofit-col autofit-col-expand">
						<h3 class="text-5 text-info">Abstract assert boolean break</h3>

						<p>
							Float double super private finally byte abstract implements, short int assert enum long volatile transient, new default final native do const.
						</p>
					</div>
				</div>
			</div>

			<div class="card-page-item col-md-6 mb-6">
				<div class="autofit-row">
					<div class="autofit-col">
						<span class="mr-3 sticker sticker-circle sticker-primary sticker-xxl">
							[@clay["icon"] symbol="cookie" className="cookie"/]
						</span>
					</div>

					<div class="autofit-col autofit-col-expand">
						<h3 class="text-5 text-info">Double new throws implements void break</h3>

						<p>
							Volatile case final assert native static return finally, this catch do double extends throw abstract, implements throws public super transient void.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container-fluid container-fluid-max-xl px-5 py-6">
		<h3 class="text-8">Extends abstract catch boolean continue do final for finally</h3>

		<p class="text-5">
			Final enum native int extends import short while for, new static instanceof this throw catch try throws private synchronized, char return implements strictfp finally boolean continue abstract. Char private try long this float default catch, synchronized double boolean static throw transient.
		</p>

		<a class="btn btn-lg btn-primary" href="#1">Transient Float</a>
	</div>
</section>