<div class="alert alert-fluid alert-primary" role="alert">
	<div class="container-fluid container-fluid-max-xl  py-0">
		<span class="alert-indicator align-middle mr-1 text-3">
			[@clay["icon"] symbol="en-us" className="en-us"/]
		</span>
		<span class="text-1">Final enum native int extends import short while for</span>
	</div>
</div>

<header>
	<nav class="navbar navbar-underline navigation-bar navigation-bar-light">
		<div class="container-fluid container-fluid-max-xl">
			<a class="navbar-brand" href="#1">
				<span class="navbar-text-truncate">Native Import Char Short</span>
			</a>

			<div class="ml-auto">
				<lfr-widget-nav></lfr-widget-nav>
			</div>

			<ul class="navbar-nav">
				<li class="nav-item">
					[#if themeDisplay.isSignedIn()]
						<a class="nav-link" href="${htmlUtil.escape(themeDisplay.getURLSignOut())}?referer=${themeDisplay.getPathFriendlyURLPublic() + themeDisplay.getSiteGroup().getFriendlyURL()}">
							Sign Out
						</a>
					[#else]
						<a class="nav-link" href="${htmlUtil.escape(themeDisplay.getPathFriendlyURLPublic() + themeDisplay.getSiteGroup().getFriendlyURL())}/sign-in">
							Sign In
						</a>
					[/#if]
				</li>
			</ul>

			<div class="navbar-form">
				<div class="input-group-sm">
					<lfr-widget-search-bar></lfr-widget-search-bar>
				</div>
			</div>
		</div>
	</nav>
</header>