<footer>
	<div class="container-fluid container-fluid-max-xl p-5">
		<a data-lfr-editable-id="link" data-lfr-editable-type="link" href="#" id="fragment-${fragmentEntryLinkNamespace}-link">
			Return to Top
		</a>
	</div>

	<div class="bg-light">
		<div class="container-fluid container-fluid-max-xl px-5">
			<div class="row">
				<div class="col-sm-9">
					<ul class="list-inline mx-n3">
						<li class="list-inline-item mx-3">
							<a class="link-primary" href="#">Link Primary 1</a>
						</li>
						<li class="list-inline-item mx-3">
							<a class="link-primary" href="#">Link Primary 2</a>
						</li>
						<li class="list-inline-item mx-3">
							<a class="link-primary" href="#">Link Primary 3</a>
						</li>
						<li class="list-inline-item mx-3">
							<a class="link-primary" href="#">Link Primary 4</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-3 pt-3">
					<address>
						<div>
							<a class="link-secondary" href="tel:1-800-555-5555">(800) 555-GOVT</a>
						</div>

						<div>
							<a class="link-secondary" href="mailto:info@agency.gov">info@agency.gov</a>
						</div>
					</address>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-secondary-l3">
		<div class="container-fluid container-fluid-max-xl">
			<div class="autofit-row-center row">
				<div class="autofit-col autofit-col-expand col">
					<div class="mr-3 sticker sticker-circle sticker-secondary sticker-xl">IMG</div>
				</div>

				<div class="autofit-col col-auto">
					Agency Contact Center
				</div>
			</div>
		</div>
	</div>
</footer>