<div class="bg-light py-6">
	<div class="container-fluid container-fluid-max-xl">
		<div class="row">
			<div class="col-lg-6">
				<div class="bg-white border p-5">
					<div class="font-weight-bold text-8" data-lfr-editable-id="uswds-create-account-title" data-lfr-editable-type="text">Create account</div>

					<fieldset id="uswdsCreateAccountPortlet">
						<legend class="mb-4" data-lfr-editable-id="uswds-create-account-legend" data-lfr-editable-type="text">Get started with an account</legend>

						<p>
							<abbr class="reference-mark">[@clay["icon"] symbol="asterisk" /]</abbr>
							indicates a required field.
						</p>

						[@liferay_portlet["runtime"] defaultPreferences="<portlet-preferences><preference><name>portletSetupPortletDecoratorId</name><value>barebone</value></preference></portlet-preferences>" portletName="com_liferay_login_web_portlet_CreateAccountPortlet"/]
					</fieldset>
				</div>

				<p class="my-3 text-center">
					<span data-lfr-editable-id="uswds-create-account-sign-in-text" data-lfr-editable-type="text">
						Already have an account?
					</span>

					<a data-lfr-editable-id="uswds-create-account-sign-in-link" data-lfr-editable-type="link" href="/web/liferay-uswds/sign-in">Sign in</a>
				</p>
			</div>

			<div class="col-lg-6 pl-5 pt-4">
				<div class="font-weight-bold mb-4 text-7" data-lfr-editable-id="uswds-create-account-benefits-title" data-lfr-editable-type="text">Abstract assert boolean break byte case catch:</div>

				<ul class="list-unstyled">
					<li class="mb-4">
						<div class="autofit-row">
							<div class="autofit-col">
								<span class="mr-3 sticker sticker-circle sticker-lg sticker-secondary">
									[@clay["icon"] symbol="check" /]
								</span>
							</div>

							<div class="autofit-col autofit-col-expand">
								<div>
									<strong class="" data-lfr-editable-id="uswds-create-account-benefit-1-title" data-lfr-editable-type="text">Benefit one:</strong>

									<span data-lfr-editable-id="uswds-create-account-benefit-1-text" data-lfr-editable-type="text">Import default public try if continue protected int while.</span>
								</div>
							</div>
						</div>
					</li>
					<li class="mb-4">
						<div class="autofit-row">
							<div class="autofit-col">
								<span class="mr-3 sticker sticker-circle sticker-lg sticker-secondary">
									[@clay["icon"] symbol="check" /]
								</span>
							</div>

							<div class="autofit-col autofit-col-expand">
								<div>
									<strong class="" data-lfr-editable-id="uswds-create-account-benefit-2-title" data-lfr-editable-type="text">Benefit two:</strong>

									<span data-lfr-editable-id="uswds-create-account-benefit-2-text" data-lfr-editable-type="text">If instanceof byte throw private do else while, throws break char implements.</span>
								</div>
							</div>
						</div>
					</li>
					<li class="mb-4">
						<div class="autofit-row">
							<div class="autofit-col">
								<span class="mr-3 sticker sticker-circle sticker-lg sticker-secondary">
									[@clay["icon"] symbol="check" /]
								</span>
							</div>

							<div class="autofit-col autofit-col-expand">
								<div>
									<strong class="" data-lfr-editable-id="uswds-create-account-benefit-3-title" data-lfr-editable-type="text">Benefit three:</strong>

									<span data-lfr-editable-id="uswds-create-account-benefit-3-text" data-lfr-editable-type="text">Assert int enum this private class break import public if implements, catch throw try double final char synchronized short volatile.</span>
								</div>
							</div>
						</div>
					</li>
				</ul>

				<hr />

				<div class="font-weight-bold text-6">Extends abstract catch boolean?</div>

				<p>
					Final enum native int extends import short while for, new static instanceof this throw catch try throws.
				</p>

				<a class="btn btn-outline-primary" data-lfr-editable-id="uswds-sign-in-sso-link" data-lfr-editable-type="link" href="#1">Launch SSO</a>
			</div>
		</div>
	</div>
</div>