<footer>
	<div class="container-fluid container-fluid-max-xl px-5 py-3">
		<a data-lfr-editable-id="link" data-lfr-editable-type="link" href="#" id="fragment-${fragmentEntryLinkNamespace}-link">
			Return to Top
		</a>
	</div>

	<div class="bg-light">
		<div class="container-fluid container-fluid-max-xl px-5">
			<ul class="list-inline mb-0 mx-n3">
				<li class="list-inline-item mx-3">
					<a class="link-primary" href="#">Link Primary 1</a>
				</li>
				<li class="list-inline-item mx-3">
					<a class="link-primary" href="#">Link Primary 2</a>
				</li>
				<li class="list-inline-item mx-3">
					<a class="link-primary" href="#">Link Primary 3</a>
				</li>
				<li class="list-inline-item mx-3">
					<a class="link-primary" href="#">Link Primary 4</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="bg-secondary-l3">
		<div class="container-fluid container-fluid-max-xl px-5 py-4">
			<div class="autofit-row-center row">
				<div class="autofit-col autofit-col-expand col">
					<div>
						<span class="mr-3 sticker sticker-circle sticker-light sticker-xl">
							[@clay["icon"] symbol="cookie" className="cookie"/]
						</span>
						<span class="font-weight-bold text-6">Native Import Char Short</span>
					</div>
				</div>

				<div class="autofit-col col-auto text-right">
					<ul class="list-inline">
						<li class="list-inline-item">
							<a class="btn btn-lg btn-monospaced" href="#facebook">
								[@clay["icon"] symbol="social-facebook" className="social-facebook"/]
							</a>
						</li>
						<li class="list-inline-item">
							<a class="btn btn-lg btn-monospaced" href="#x">
								[@clay["icon"] symbol="twitter-x" className="twitter-x"/]
							</a>
						</li>
						<li class="list-inline-item">
							<a class="btn btn-lg btn-monospaced" href="#youtube">YT</a>
						</li>
						<li class="list-inline-item">
							<a class="btn btn-lg btn-monospaced" href="#instagram">
								[@clay["icon"] symbol="social-instagram" className="social-instagram"/]
							</a>
						</li>
						<li class="list-inline-item">
							<a class="btn btn-lg btn-monospaced" href="#rss">
								[@clay["icon"] symbol="rss" className="rss"/]
							</a>
						</li>
					</ul>

					<div class="font-weight-bold text-6">Native Import Char Short Contact Center</div>

					<address class="mb-0">
						<ul class="list-inline mb-0">
							<li class="list-inline-item">
								<a class="link-secondary" href="#rss">(800) 555-5555</a>
							</li>
							<li class="list-inline-item">
								<a class="link-secondary" href="#rss">info@nativeimportcharshortcontactcenter.gov</a>
							</li>
						</ul>
					</address>
				</div>
			</div>
		</div>
	</div>
</footer>