.info-panel {
	&.sidenav-menu-slider {
		max-width: 100%;

		> .sidenav-menu {
			max-width: 100%;
		}
	}

	@include md {
		bottom: 0;
		position: absolute;
		top: 0;

		> .sidenav-menu {
			bottom: 0;
			position: absolute;
			right: 0 !important;
			top: 0;
		}
	}
}